@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 150%;
}
.wrapper {
  width: 960px;
  margin: 0 auto;
}

.row {
  border-top: solid 2px #E1E4E5;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.first-row {
  border-top-color: transparent;
  padding-top: 0;
  padding-bottom: 8px;
}

button {
  font-size: 13px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid 0px transparent;
  border-radius: 2px;
  padding: 9px 20px;
  cursor: pointer;
}

span {
  display: block;
}

.source-tree {
  position: relative;
}

.source-tree:after {
  display: inline-block;
  background-color: #DFE2E4;
  content: ' ';
  width: 2px;
  height: 100%;
  position: absolute;
  left: -25px;
  top: 0px;
}

.version {
  display:inline-block;
  line-height: 0px;
  border: solid 1px #ccc;
  border-radius: 50%;
}

.version span {
  display: block;
  padding-top:50%;
  padding-bottom:50%;
  margin-left:8px;
  margin-right:8px;
}

.source-tree li {
  position: relative;
}

.source-tree li a {
  text-decoration: none;
  color: #5097E3;
}
.source-tree li:before {
  display: inline-block;
  background-color: #DFE2E4;
  content: ' ';
  width: 5px;
  height: 2px;
  position: absolute;
  left: -25px;
  top: 8px;
}

.source-tree li:after {
  display: inline-block;
  background-color: #DFE2E4;
  content: ' ';
  width: 12px;
  height: 15px;
  position: absolute;
  left: -17px;
  top: 2px;
}

/* Colors */

.cadet-blue {
  color: #51616B;
}

.cadet-gray {
  color: #506776;
}

.gray {
  color: #ccc;
}

.white {
  color: #fff;
}

.bg-green {
  background-color: #41C58E;
}

/* Text Utilities
 */

.b {
  font-weight: 700;
}

.tc {
  text-align: center;
}

.ttu {
  text-transform: uppercase;
}

.truncate {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.font-scale-1 {
  font-size: 100%;
}

.font-scale-2 {
  font-size: 90%;
}

.font-scale-3 {
  font-size: 80%;
}

/* Width,following by % number */
.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-100 {
  width: 100%;
}

/* Margin & Padding */

.mb-1 {
  margin-bottom: 8px;
}

.ml-1 {
  margin-left: 8px;
}

/* Layout */

.flex {
  display: flex;
}

.justify-around {
  justify-content: space-around;
}

.items-center {
  align-items: center;
}

/* List */

.list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}






ul.nav {
  margin:0;
  padding:0;
  list-style:none;
  height:36px; line-height:36px;
  background:#41C58E; /* you can change the backgorund color here. */
  font-family:Arial, Helvetica, sans-serif;
  font-size:13px;
}
ul.nav li {
  border-right:1px solid #189b80; /* you can change the border color matching to your background color */
  float:left;
}
ul.nav a {
  display:block;
  padding:0 28px;
  color:#ccece6;
  text-decoration:none;
}
ul.nav a:hover,
ul.nav li.current a {
  background:#41C58E;
}